<% content_for :page_actions do %>
  <li>
    <%=
      link_to "View in Customer Area",
        Spree::Adyen::URL.payment_adyen_customer_area_url(
          merchant_account: payment.payment_method.account_locator.by_order(payment.order),
          psp_reference: payment.response_code
        ),
        class: "button fa"
    %>
  </li>
<% end %>

<%= render Spree::Adyen::Presenters::Communication.from_source(payment.source) %>
