<fieldset data-hook="credit_card">
  <legend align="center">Adyen HPP payment</legend>

  <div class="row">
    <div class="alpha six columns">
      <dt> psp reference </dt>
      <dl> <%= payment.response_code %> </dl>
    </div>
  </div>
</fieldset>
