<% adyen_notification_fields = [
  :event_code,
  :psp_preference,
  :reason,
  :processed,
  :currency,
  :value,
  :operations,
  :success,
  :processed,
  :event_date,
  :create_at
] %>

<fieldset data-hook="credit_card">
  <legend align="center">Adyen HPP payment</legend>

  <%= render payment.source %>

  <fieldset>
    <legend align="center">Adyen Notifications</legend>
    <table>
      <tbody> <%= render payment.source.notifications.order :event_date %> </tbody>
    </table>
  </fieldset>
</fieldset>
