<p>
  You'll be redirected to Adyen Hosted Payment Pages. After completing the
  payment form you'll be back to the store.
</p>

<dl>
  <% ::Spree::Adyen::Form.payment_methods_from_directory(@order, payment_method).each do |method| %>
    <dl>
      <dt>
        <%= method['brandCode'] %>
      </dt>
      <dd>
        <%= link_to method['name'], ::Spree::Adyen::Form.details_url(@order, payment_method, method).to_s %>
      </dd>
    </dl>
  <% end %>
</dl>

<script type="text/javascript">
$(function() {
  var spreePaymentRadio = $("#checkout_form_payment input:radio")

  var hideCheckoutButtonForAdyen = function() {
    if ($("#checkout_form_payment input:radio:checked").val() == <%= payment_method.id %>) {
      $("#checkout_form_payment .form-buttons").hide();
    } else {
      $("#checkout_form_payment .form-buttons").show();
    }
  }

  spreePaymentRadio.change(function() {
    hideCheckoutButtonForAdyen();
  });

  hideCheckoutButtonForAdyen();
});
</script>
